/* Styles pour le pied de page */
/*.pieddepage {
    text-align: center;
    padding: 10px;
    background-color: #6b48ff;
    color: white;
    border-radius: 0 0 10px 10px;
    height: 70px; /* Hauteur fixe 
  }
  .pieddepage p {
    margin: 0;
  }*/